<div class="sidebar">
        
    {{{props.sidebarButton}}}
</div>

<div>
        
        {{{props.avatarButton}}}
        <p class="photo-name">{{props.displayName}}</p>

        <form class="profile-lines">
            {{{props.profileLines}}}
        </form>
        <div class="profile-lines editing-options">


            
            {{#unless props.isEditing}}{{{props.editDataButton}}}{{/unless}}
            {{#if props.isEditing}}{{{props.saveDataButton}}}{{/if}}
            {{{props.editPasswordButton}}}
            {{{props.exitButton}}}


            

                
        </div>
    </div>
{{{props.passwordPopup}}}
{{{props.avatarPopup}}}
