<div class="sidebar">
        
    {{{props.sidebarButton}}}
</div>

<div>
        <div class="image-circle">
            <img src="{{props.profilePictureSrc}}" alt="Profile photo">
        </div>
        <p class="photo-name">{{props.displayName}}</p>

        <div class="profile-lines">
            {{{props.profileLines}}}
        </div>
        <div class="profile-lines editing-options">


            
            {{{props.editDataButton}}}
            {{{props.editPasswordButton}}}
            {{{props.exitButton}}}


            

                
        </div>
    </div>
