<label for="{{props.inputId}}" class="{{props.labelClass}}">{{props.inputTitle}}</label>
<input type={{props.inputType}} id="{{props.inputId}}" name="{{props.inputName}}" class="{{props.inputClass}}"/>
