    <form class="{{props.formClass}}">
        <h2 class="card-header">{{props.title}}</h2>
        {{{props.inputs}}}
        <button type="submit" class="{{props.submitClass}}">{{props.submitText}}</button>
    </form>
        <a href="{{props.hrefAddress}}" class="no-account">{{props.hrefText}}</a>
