<link rel="stylesheet" href="\src\partials\card-input\card-input.scss" />
<div class="card-input-container">
    <label for="{{input-id}}" class="card-input-title">{{input-title}}</label>
    <input type={{input-type}} id="{{input-id}}" name="{{input-name}}" class="card-input-field" />
</div>