<div class="chat-sidebar"> 
    {{{props.addChatButton}}}
    {{{props.sidebarChats}}}
</div>
<div class="chat-container">
        {{{props.chatbar}}}   
        {{{props.messageSection}}}
</div>
{{{props.addChatPopup}}}
